<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
    <meta charset="utf-8"/>
    <meta content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,minimal-ui' name='viewport'/>
    <title>{% block title %}{% endblock %}</title>
</head>
<script type="module">
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('{% block sw_url %}{% endblock %}');
    })
  }
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.min.css">
{% block style %}{% endblock %}
<body class="ui container">
{% block container %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
