{% extends 'base.html' %}
{% load static babel_transpiling postcss_modules %}
{% block title %}ZGVG画廊{% endblock %}
{% block sw_url %}{% url "zgvg:sw.js" %}{% endblock %}
{% block style %}
  <style type="text/css">
    .ui.header {
      display: table;
    }
    dialog {
      padding: 0;
      border: 0;
    }
  </style>
  <style>
    {% postcssmodules %}
    :global .page {
      padding: 20px;
    }

    @value hi from '{% static "zgvg/css/more.cssm" %}';

    .title {
      composes: title from "{% static "zgvg/css/mixins.cssm" %}";
      color: green;
    }

    .article {
      composes: ok from '{% static "zgvg/css/more.cssm" %}';
      font-size: 16px;
      color: hi;
    }
    {% endpostcssmodules %}
  </style>
{% endblock %}
{% block container %}
  <div id="root"></div>
  <div id="modal"></div>
{% endblock %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/dshell@1.4.0/dep.bundle.min.js"></script>
  {% if debug %}
    <script src="https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.development.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.development.js" crossorigin></script>
  {% else %}
    <script src="https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.production.min.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.production.min.js" crossorigin></script>
  {% endif %}
  <script type="module" src="{% static 'zgvg/js/index.jsx' %}"></script>
{% endblock %}
