{% extends 'base.html' %}
{% load static %}
{% block title %}js-libp2p demo{% endblock %}
{% block sw_url %}{% url "libp2p:sw.js" %}{% endblock %}
{% block style %}
  <style type="text/css">
    section.main {
      display: none;
      flex-direction: column;
      height: 100%;
      padding: 1em 0 1em 0;
    }
    main.stage {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;
    }
    footer.ui.input {
      display: flex;
    }
    #shell {
      flex-grow: 1;
    }
  </style>
{% endblock %}
{% block container %}
  {% include 'includes/modal.html' %}
  {% include 'includes/modal.module' %}
  <section class="login">
    <div class="user-login-history ui relaxed divided list">
    </div>
    <div class="login ui action input">
      <input id="username" type="text" placeholder="Create New User...">
      <button class="ui primary button" onclick="loginUser()">Login</button>
    </div>
  </section>

  <section class="main">
    <header class="ui pointing menu">
      <div class="ui simple dropdown item">
        <i class="add icon"></i> New Chat
        <i class="dropdown icon"></i>
        <div class="menu" id="peers">
        </div>
      </div>
      <a class="item">
        User A
      </a>
      <a class="item active">
        User B
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui disabled transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
        <a class="ui item" onclick="logout()">
          Logout
        </a>
      </div>
    </header>

    <main class="stage">
    </main>


    <footer class="ui action input">
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          <span class="text">Echo</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Echo</div>
          </div>
        </div>
      </div>
      <input id="shell" type="text" placeholder="text...">
      <div class="ui primary button" onclick="sendText()">Send</div>
    </footer>
  </section>
  <section id="template" style="display: none">
    <div class="user-login-history-template item">
      <i class="large github middle aligned icon"></i>
      <div class="content">
        <a class="header"></a>
        <div class="description">Updated 10 mins ago</div>
      </div>
    </div>
    <div class="ui feed template">
      <div class="event">
        <div class="label">
          <img src="/images/avatar/small/jenny.jpg">
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static 'libp2p/dep.bundle.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/peer-id@0.14.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ipfs@0.52.2/dist/index.min.js"></script>
  <script type="module">
    import {map, filter, collect, consume} from 'https://cdn.jsdelivr.net/npm/streaming-iterables@5.0.3/dist/index.mjs';
    import UserNode from '{% static "libp2p/user-node.js" %}'
    import Shell from '{% static "libp2p/shell.js" %}'
    import Soul from '{% static "libp2p/soul.js" %}'
    const country = '/dns4/webrtc-star.dist.pub/tcp/443/wss/p2p-webrtc-star';
    const peers = [];
    const connectionBook = {};
    window.p2pConnectionBook = connectionBook;
    const simplePeerOptions = {
      trickle: true,
      config: {
        iceServers: {{ iceServers|safe }},
      }
    };

    window.logout = () => {
      p2pNode.stop();
      sessionStorage.removeItem('current-username');
      location.reload();
    };


    // chose a peer or create new peer
    window.loginUser = async (username, force=false) => {
      if (!username) {
        username = document.querySelector('#username').value;
      }
      await startLibp2p(username, force, () => {
        document.querySelector('section.login').style.display = 'none';
        document.querySelector('section.main').style.display = 'flex';
      });
      sessionStorage.setItem('current-username', username);
    };
    function renderUserLoginHistory(dbs) {
      const target = document.querySelector('.login.input');

      for (const db of dbs) {
        const item = document.querySelector('.user-login-history-template.item').cloneNode(true);
        const username = db.name.slice('shell/'.length);
        const header = item.querySelector('.header');
        header.innerText = username;
        header.onclick = () => loginUser(username);
        target.parentNode.insertBefore(item, target);
      }
    }
    (async () => {
      const username = sessionStorage.getItem('current-username');
      if (username) {
        await loginUser(username, true);
      } else {
        let dbs = await indexedDB.databases();
        dbs = dbs.filter(item => item.name.startsWith('shell/'));
        renderUserLoginHistory(dbs);
      }
    })();

    async function startLibp2p(username, force, cb) {
      window.showModal(`Login ${username}`, 'check username...', false);
      const database = (new window.datastoreLevel(`shell/${username}`, { prefix: '' })).db;
      window.database = database;
      const isContinue = await (async () => {
        await database.put('welcome', 'shell');
        database.db.codec.opts.valueEncoding = 'json';

        try {
          const status = await database.get('status');

          if (status) {
            return false;
          }
        } catch (error) {
          log('create new peer');
        }

        await database.put('status', true);
        return true;
      })();

      if (!isContinue && !force) {
        const message = 'user already login, please use another username';
        window.showModal(`Login ${username}`, message, true);
        throw message;
      } else {
        window.addEventListener("unload", async () => {
          await database.put('status', false);
          await database.get('status');
        })
      }

      function log(txt) {
        console.info(txt);
      }

      window.showModal(`Login ${username}`, 'Starting libp2p...', false);
      const my = new UserNode(database, username, country, simplePeerOptions);



      // event
      my.on('user:hi', (id) => {
        log(`* Nice to meet ${id}`);



        if (!peers.includes(id)) {
          const $li = document.createElement('div');
          $li.classList.add('item');
          $li.innerText = id;
          $li.onclick = () => openChat(id);
          document.querySelector('#peers').appendChild($li);
        }
      });
      async function stop() {
        await database.put('status', false);
        await my.stop();
        await database.get('status');
      }
      my.once('stop', stop);
      window.addEventListener("unload", stop);

      await my.init()
      const soul = new Soul(database, username)
      await soul.init()
      const shell = new Shell(my, soul);
      shell.install()
      window.p2pNode = my;
      window.soul = soul;
      window.shell = shell;

      function openChat(id) {
        document.querySelector('.active').classList.remove('active');
        const nav = document.createElement('a');
        nav.classList.add('item', 'active');
        nav.innerText = id;
        const target = document.querySelector('.right.menu');
        target.parentNode.insertBefore(nav, target);
      }
      cb();
      hideModal();

      // logic

      shell.installExternalAction(function print(_, ...args) {
        for (let msg of args) {
          log(`<< ${msg}`);
        }
      });

      shell.on('action:response', ({username, response}) => {
        renderMessage(`${username}[response]=>${response.results}`)
      })
      shell.on('action:request', ({username, request}) => {
        renderMessage(`${username}[request]=>${request.action}(${request.args})`)
      })
      soul.on('backwards', data=>{
        if (data.request) {
          renderMessage(`${data.username}[request]=>${data.request.action}(${data.request.args})`)
        } else {
          renderMessage(`${data.username}[response]=>${data.response.results}`)
        }
      })
      soul.on('empathy', data=>{
        if (data.request) {
          renderMessage(`${data.username}[request]=>${data.request.action}(${data.request.args})`)
        } else {
          renderMessage(`${data.username}[response]=>${data.response.results}`)
        }
      })

      window.sendText = async function () {
        const input = document.querySelector('#shell');
        await shell.exec(shell.Action.echo([input.value], [document.querySelector('.active').innerText]))
        input.value = '';
      };

      window.renderMessage = function (content) {
        const item = document.querySelector('.ui.feed.template').cloneNode(true);
        item.querySelector('.summary').innerText = content;
        document.querySelector('.stage').appendChild(item);
      };
      soul.backwards(null, false)
      await shell.exec(shell.Action.whoami([{ help: true }]))
      await shell.exec(shell.Action.whoami([{ version: true }]))
      await shell.exec(shell.Action.Whoami)
    }
  </script>
{% endblock %}
