{% extends 'base.html' %}
{% load static %}
{% block title %}js-libp2p demo{% endblock %}
{% block sw_url %}{% url "libp2p:sw.js" %}{% endblock %}
{% block style %}
  <style type="text/css">
    section.main {
      display: none;
      flex-direction: column;
      height: 100%;
      padding: 1em 0 1em 0;
    }
    main.stage {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;
    }
    footer.ui.input {
      display: flex;
    }
    #shell {
      flex-grow: 1;
    }
  </style>
{% endblock %}
{% block container %}
  {% include 'includes/modal.html' %}
  {% include 'includes/modal.module' %}
  <section class="login">
    <div class="user-login-history ui relaxed divided list">
    </div>
    <div class="login ui action input">
      <input id="username" type="text" placeholder="Create New User...">
      <button class="ui primary button" onclick="loginUser()">Login</button>
    </div>
  </section>

  <section class="main">
    <header class="ui pointing menu">
      <div class="ui simple dropdown item">
        <i class="add icon"></i> New Chat
        <i class="dropdown icon"></i>
        <div class="menu" id="peers">
        </div>
      </div>
      <a class="item">
        User A
      </a>
      <a class="item active">
        User B
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui disabled transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
        <a class="ui item" onclick="logout()">
          Logout
        </a>
      </div>
    </header>

    <main class="stage">
    </main>


    <footer class="ui action input">
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          <span class="text">Echo</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Echo</div>
          </div>
        </div>
      </div>
      <input id="shell" type="text" placeholder="text...">
      <div class="ui primary button" onclick="sendText()">Send</div>
    </footer>
  </section>
  <section id="template" style="display: none">
    <div class="user-login-history-template item">
      <i class="large github middle aligned icon"></i>
      <div class="content">
        <a class="header"></a>
        <div class="description">Updated 10 mins ago</div>
      </div>
    </div>
    <div class="ui feed template">
      <div class="event">
        <div class="label">
          <img src="/images/avatar/small/jenny.jpg">
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static 'libp2p/dep.bundle.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/peer-id@0.14.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ipfs@0.52.2/dist/index.min.js"></script>
  <script type="module">
    import {map, filter, collect, consume} from 'https://cdn.jsdelivr.net/npm/streaming-iterables@5.0.3/dist/index.mjs';
    import UserNode from '{% static "libp2p/user-node.js" %}'
    import Shell from '{% static "libp2p/shell.js" %}'
    const country = '/dns4/webrtc-star.dist.pub/tcp/443/wss/p2p-webrtc-star';
    const peers = [];
    const connectionBook = {};
    window.p2pConnectionBook = connectionBook;
    const simplePeerOptions = {
      trickle: true,
      config: {
        iceServers: {{ iceServers|safe }},
      }
    };

    window.logout = () => {
      p2pNode.stop();
      sessionStorage.removeItem('current-username');
      location.reload();
    };


    // chose a peer or create new peer
    window.loginUser = async (username, force=false) => {
      if (!username) {
        username = document.querySelector('#username').value;
      }
      await startLibp2p(username, force, () => {
        document.querySelector('section.login').style.display = 'none';
        document.querySelector('section.main').style.display = 'flex';
      });
      sessionStorage.setItem('current-username', username);
    };
    function renderUserLoginHistory(dbs) {
      const target = document.querySelector('.login.input');

      for (const db of dbs) {
        const item = document.querySelector('.user-login-history-template.item').cloneNode(true);
        const username = db.name.slice('level-js-shell-'.length);
        const header = item.querySelector('.header');
        header.innerText = username;
        header.onclick = () => loginUser(username);
        target.parentNode.insertBefore(item, target);
      }
    }
    (async () => {
      const username = sessionStorage.getItem('current-username');
      if (username) {
        await loginUser(username, true);
      } else {
        let dbs = await indexedDB.databases();
        dbs = dbs.filter(item => item.name.startsWith('level-js-shell-'));
        renderUserLoginHistory(dbs);
      }
    })();

    async function startLibp2p(username, force, cb) {
      window.showModal(`Login ${username}`, 'check username...', false);
      const database = (new window.datastoreLevel(`shell-${username}`)).db;
      window.database = database;
      const isContinue = await (async () => {
        await database.put('welcome', 'shell');
        database.db.codec.opts.valueEncoding = 'json';

        try {
          const status = await database.get('status');

          if (status) {
            return false;
          }
        } catch (error) {
          log('create new peer');
        }

        await database.put('status', true);
        return true;
      })();

      if (!isContinue && !force) {
        const message = 'user already login, please use another username';
        window.showModal(`Login ${username}`, message, true);
        throw message;
      } else {
        window.addEventListener("unload", async () => {
          await database.put('status', false);
          await database.get('status');
        })
      }

      function log(txt) {
        console.info(txt);
      }

      window.showModal(`Login ${username}`, 'Starting libp2p...', false);
      const my = new UserNode(database, username, country, simplePeerOptions);



      // event
      my.on('user:hi', (id) => {
        log(`* Nice to meet ${id}`);



        if (!peers.includes(id)) {
          const $li = document.createElement('div');
          $li.classList.add('item');
          $li.innerText = id;
          $li.onclick = () => openChat(id);
          document.querySelector('#peers').appendChild($li);
        }
      });
      async function stop() {
        await database.put('status', false);
        await my.stop();
        await database.get('status');
      }
      my.once('stop', stop);
      window.addEventListener("unload", stop);

      await my.init()
      const shell = new Shell(my);
      shell.install()
      window.p2pNode = my;

      function openChat(id) {
        document.querySelector('.active').classList.remove('active');
        const nav = document.createElement('a');
        nav.classList.add('item', 'active');
        nav.innerText = id;
        const target = document.querySelector('.right.menu');
        target.parentNode.insertBefore(nav, target);
      }
      cb();
      hideModal();

      // logic
      function transform(connection, stream) {
        return (msg) => {
        }
      }

      shell.installAction('/echo', async ({id}, ...args) => {
        let results = []
        for (let msg of args) {
          log(`<< ${msg}`);
          results.push(`transform msg: ${msg}`);
        }
        await shell.exec({topic:'test', receivers:[id], action:'/print',
          args:['hello client', `your id is ${id}`]})
        return results
      })

      shell.installAction('/print', (_, ...args) => {
        for (let msg of args) {
          log(`<< ${msg}`);
        }
      });

      shell.on('action:response', ({username, response}) => {
        renderMessage(`${username}[response]=>${response.results}`)
      })
      shell.on('action:request', ({username, request}) => {
        renderMessage(`${username}[request]=>${request.action}(${request.args})`)
      })

      window.sendText = async function () {
        const shell = document.querySelector('#shell');
        const context = shell.value;
        await window.dailing(document.querySelector('.active').innerText, context);
        shell.value = '';
      };

      window.renderMessage = function (content) {
        const item = document.querySelector('.ui.feed.template').cloneNode(true);
        item.querySelector('.summary').innerText = content;
        document.querySelector('.stage').appendChild(item);
      };

      window.dailing = async function (id, content) {
        await shell.exec({topic:'test', receivers:[id], action:'/echo', args:[content]})
        await shell.exec({topic:'test', receivers:[id], action:'/Whoami', args:[]})
      }
      await shell.exec({topic:'test', receivers:[], action:'/Whoami', args:['--help']})
      await shell.exec({topic:'test', receivers:[], action:'/Whoami', args:['--version']})
      await shell.exec({topic:'test', receivers:[], action:'/Whoami', args:[]})
      await shell.exec({topic:'test', receivers:[], action:'/Whoami', args:[1,2,3]})
    }
  </script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', async () => {
      const node = await Ipfs.create()
      window.ipfsNode = node

      const status = node.isOnline() ? 'online' : 'offline'

      console.log(`Node status: ${status}`)

      window.dl = new window.datastoreLevel('ipfs', {prefix: '', version: 2})

      rootCid = PeerId.createFromBytes(await dl.get('/local/filesroot')).toB58String()
      console.log(`root cid: ${rootCid}`)

      console.log(await ipfsNode.files.stat('/'))

      for await (let item of ipfsNode.files.ls('/')) {
        console.log(item)
      }

      await ipfsNode.files.touch('/a')
      await ipfsNode.files.touch('/b')
      await ipfsNode.files.touch('/c')

      console.log(await ipfsNode.files.stat('/'))

      for await (let item of ipfsNode.files.ls('/')) {
        console.log(item)
      }
    })

    async function addThenCPFileToMFS(content) {
      const str = content.path
      var last = str.substring(str.lastIndexOf("/") + 1, str.length);
      content.path = last
      const {cid} = await ipfsNode.add(content)

      console.log('successfully stored', cid)
      await ipfsNode.files.cp(`/ipfs/${cid}`, str, {parents: true})

      console.log(await ipfsNode.files.stat('/'))

    }

    async function catFile(cid) {
      for await (const data of ipfsNode.cat(cid)) {
        console.log(data.toString())
      }
    }

    async function updateRootCid(cid) {
      await window.dl.put('/local/filesroot', PeerId.createFromB58String(cid).toBytes())
    }
  </script>
{% endblock %}
