{% extends 'base.html' %}
{% load static %}
{% block title %}ZGTT画廊{% endblock %}
{% block sw_url %}{% url "zgtt:sw.js" %}{% endblock %}
{% block container %}
  <div id="root"></div>
  <div id="modal"></div>
{% endblock %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/dshell@1.4.0/dep.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.18.0/js/md5.min.js"></script>
  {% if debug %}
    <script src="https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.development.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.development.js" crossorigin></script>
    <script type="importmap">
      {
        "imports": {
          "settings": "{% static 'zgtt/js/settings.dev.js' %}"
        }
      }
    </script>
  {% else %}
    <script src="https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.production.min.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.production.min.js" crossorigin></script>
    <script type="importmap">
      {
        "imports": {
          "settings": "{% static 'zgtt/js/settings.prd.js' %}"
        }
      }
    </script>
  {% endif %}
  <script type="module" src="{% static 'zgtt/js/index.jsx' %}"></script>
{% endblock %}
